#frame_map_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#map {
    left: 0;
    width: 100%;
    height: 100%;
}
.blip {
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: all 2s;
}
.attacker_blip {
    border: 2px solid lightcoral;
    box-shadow: 0 0 4px crimson;
}
.target_blip {
    border: 2px solid lightskyblue;
    box-shadow: 0 0 4px cadetblue;
}
.stream_bit {
    border: 2px solid white; /* the 'strokes' of the arc */
    border-radius: 50%; /* for making the elements 'round' */
    border-top-color: transparent; /* hiding the top border */
    border-left-color: transparent;
    border-right-color: transparent;
}