<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CyberAttack App</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link href="{% static "cyberattackapp/css/main.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cyberattackapp/css/components/component.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cyberattackapp/css/components/frames/frame_root.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cyberattackapp/css/components/frames/frame_map_container.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cyberattackapp/css/components/frames/frame_attack_table_container.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cyberattackapp/css/utility.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static "cyberattackapp/js/deps/jquery-ui.min.js" %}"></script>
    <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
    <script src="{% static "cyberattackapp/js/deps/MovingMarker.js" %}"></script>
    <script src="{% static "cyberattackapp/js/deps/jquery.pulse.js" %}"></script>
    <script src="{% static "cyberattackapp/js/utility.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/component.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/buttons/button.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/maps/map.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/maps/map_cyberattack.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/tables/table.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/tables/table_attack.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/tables/table_attack_sub_table.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/forms/form.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/widgets/forms/form_attack_filter.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/frames/frame.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/frames/frame_map_container.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/frames/frame_attack_table_container.js" %}"></script>
    <script src="{% static "cyberattackapp/js/components/frames/frame_root.js" %}"></script>
    <script src="{% static "cyberattackapp/js/main.js" %}"></script>
    <script src="{% static "cyberattackapp/js/tests/setup.js" %}"></script>
    <script src="{% static "cyberattackapp/js/tests/test_component.js" %}"></script>
    <script src="{% static "cyberattackapp/js/tests/test_widgets.js" %}"></script>
</head>
<body>
    {% include "cyberattackapp/frames/frame_map_container.html" %}
    {% include "cyberattackapp/frames/frame_attack_table_container.html" %}
    <div id="qunit-fixture"></div>
</body>
</html>