<div id="frame_attack_table_container">
    <table id="table_attack">
        <thead class="basetableheader">
            <th>Attacks</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table id="table_attack_detail">
                        <thead class="subtableheader">
                            <th>Timestamp</th>
                            <th>Attacker</th>
                            <th>Target</th>
                            <th>Type</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table id="table_timestamp">
                                        <thead class="subtableheader">
                                            <th>hh:mm:ss</th>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                                <td>
                                    <table id="table_attacker">
                                        <thead class="subtableheader">
                                            <th>Organization</th>
                                            <th>Location</th>
                                            <th>IP</th>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                                <td>
                                    <table id="table_target">
                                        <thead class="subtableheader">
                                            <th>Location</th>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                                <td>
                                    <table id="table_type">
                                        <thead class="subtableheader">
                                            <th>Service</th>
                                            <th>Port</th>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>